body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #ffd6e8, #fff0f6);
  font-family: "Indie Flower", sans-serif;
  background-image: url("./bg.jpg");
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  height: 400px;
  padding: 50px 20px;
  border-radius: 16px;
  width: 1000px;
  background-color: #ffd6e8;
  box-shadow: 0 10px 30px rgba(255,192,203,0.6);
  border: 15px solid #ffb6c1;
  text-align: center;
  cursor: grab;
}

.screen h1 {
  color: #f258aa;
}
.screen h2 {
  color: #f258aa;
}
.screen p {
  color: #de3486;
}

.cute-gif {
  width: 180px;
  margin-bottom: 20px;
}

.cute-gif {
  width: 20px;
  margin-bottom: 20px;
}
.screen img {
  width: 200px;
  margin-top: 20px;
}

.buttons.initial {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 40px;
  position: relative;
  height: 200px;
}

button {
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.yes {
  background: #ff69b4;
  color: white;
  position: absolute;
}

.no {
  background: #fff;
  height: 70px;
  border: 2px solid #ff69b4;
  color: #ff69b4;
}

.cute-gif {
  animation: float 2s ease-in-out infinite;
}




@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}